<ng-container >
  <mat-card-actions align="end">
    <button mat-raised-button type="button" color="primary" class="ml-1">
      <mat-icon>edit</mat-icon> Update
    </button>
    <button mat-raised-button type="button" color="primary" class="ml-1" >
      <mat-icon>local_hospital</mat-icon> Add
    </button>
    <button mat-raised-button type="button" color="accent" class="ml-1">
      <mat-icon>print</mat-icon> Print
    </button>
    <button mat-raised-button type="button" color="warn" class="ml-1">
      <mat-icon>cancel</mat-icon> Cancel
    </button>
  </mat-card-actions>
</ng-container>
