
<mat-card-actions align="end">
  <button mat-raised-button type="button" color="primary" style="margin-right: 5px;">
    <mat-icon>edit</mat-icon> Update
  </button>
  <button mat-raised-button type="button" color="primary" style="margin-right: 5px;">
    <mat-icon>local_hospital</mat-icon> Add
  </button>
  <button mat-raised-button type="button" color="accent" style="margin-right: 5px;">
    <mat-icon>print</mat-icon> Print
  </button>
  <button mat-raised-button type="button" color="warn" style="margin-right: 5px;">
    <mat-icon>cancel</mat-icon> Cancel
  </button>
</mat-card-actions>
