.user-profile .dropdown-menu{
    left: -60px !important;
    top: 28px !important;
}
.user-profile .profile-text > a,
.user-profile .profile-text > a:hover{
    color: #4e4e4e  !important;
}
// .user-profile .profile-img {
//     display: inline-block !important;
//     padding: 10px 0 10px 0 !important;
//     margin: 0 8px 0 40px !important;
// }
// .user-profile .profile-text {
//     display: inline-block !important;
// }

