




<!-- ?Translated Sidebar -->

<div class="user-profile">

  <div class="profile-img">
    <img [src]="ImageLink()" alt="user" />
  </div>

  <div class="profile-text">
    <span style="margin-top: -20px; padding-top: -15px;">{{name}}</span>
  </div>
</div>
<nav class="sidebar-nav">
  <ul id="sidebarnav">

    <li class="sidebar-item" [class.active]="showMenu === L_1.title" *ngFor="let L_1 of sideBarMenus" [routerLinkActive]="L_1.submenu?.length != 0 ? '' : 'active'">
      <div class="nav-small-cap" *ngIf="L_1.extralink">
        <i [ngClass]="[L_1.icon]"></i>
        <span class="hide-menu">{{''+L_1.title | translate}}</span>
      </div>
      <a class="sidebar-link waves-effect waves-dark pl-0 custom__css__prtn"
        [routerLink]="L_1.class === '' ? [L_1.path] : null" externalLink="{{L_1.class === '' ? [L_1.path] : null}}"
        *ngIf="!L_1.extralink;" [routerLinkActive]="L_1.submenu?.length != 0 ? '' : 'active'" [ngClass]="[L_1.class]"
        (click)="addExpandClass(L_1.title)">

        <i [ngClass]="L_1?.icon?.length > 1 ? [L_1.icon] : 'fas fa-align-left'"></i>

        <span class="hide-menu">{{''+L_1.title | translate}}
          <span *ngIf="L_1.label != '' " [ngClass]="[L_1.labelClass]">{{L_1.label}}</span>
        </span>
      </a>

      <ul aria-expanded="false" style="padding-left: 10px;" class="collapse" *ngIf="L_1.submenu.length > 0"
        [ngClass]="{'in' : showMenu === L_1.title }">
        <li class="sidebar-item" *ngFor="let L_2 of L_1.submenu" [class.active]="showSubMenu === L_2.title"
          [routerLinkActive]="L_2.submenu.length > 0 ? '' : 'active'">
          <a class="sidebar-link pl-0 custom__css__chld" [routerLink]="L_2.submenu.length > 0 ? null : [L_2.path]"
            externalLink="{{L_2.submenu.length > 0 ? null : [L_2.path]}}"
            [routerLinkActive]="L_2.submenu?.length > 0 ? '' : 'router-link-active'" [ngClass]="[L_2.class]"
            *ngIf="!L_2.extralink;" (click)="addActiveClass(L_2.title)">
            <i [ngClass]="L_2?.icon?.length > 1 ? [L_2.icon] : 'fas fa-align-left'"></i>
            <span class="hide-menu">{{''+L_2.title | translate}}</span>
          </a>

          <ul aria-expanded="false" style="padding-left: 10px;" class="collapse" *ngIf="L_2.submenu.length > 0"
            [ngClass]="
            {'in' : showSubMenu === L_2.title }">
            <li class="sidebar-item" *ngFor="let L_3 of L_2.submenu" routerLinkActive="active" [ngClass]="[L_3.class]">
              <a class="sidebar-link pl-0 custom__css__grnd__chld" [routerLink]="[L_3.path]" *ngIf="!L_3.extralink;"
                externalLink="{{[L_3.path]}}" [routerLinkActive]="L_3.submenu?.length > 0 ? '' : 'router-link-active'">
                <i [ngClass]="L_3?.icon?.length > 1 ? [L_3.icon] : 'fas fa-align-left'"></i>
                <span class="hide-menu">{{''+L_3.title | translate}}</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<!-- ?Translated Siderbar -->
