<!-- ============================================================== -->
<!-- toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav float-left mr-auto">
  <li class="nav-item d-none d-lg-block" *ngIf="_fhs._getCurrentModule() != '3'">
    <a (click)="toggleSidebar.emit()" class="nav-link sidebartoggler waves-effect waves-light"
      href="javascript:void(0)">
      <i class="ti-menu"></i>
    </a>
  </li>
  <li class="nav-item d-none d-lg-block" *ngIf="_fhs._getCurrentModule() == '3'">
    <a routerLink="/e_raseed_dashboard" class="nav-link sidebartoggler waves-effect waves-light"
    href="javascript:void(0)">
      <i class="ti-menu"></i>
    </a>
  </li>
</ul>
<!-- ============================================================== -->
<!-- Right side toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav float-right">
  <li class="nav-item dropdown userprof" ngbDropdown placement="bottom-right">
    <div class="user-profile">
      <!-- User profile text-->
      <div style="font-size: 14px; margin-right: 10px;
      padding-bottom: 20px;  color:white">
        <!-- User profile image -->
        {{name}}
        <button mat-icon-button type="menu">
          <mat-icon  mat-icon-button [matMenuTriggerFor]="menu">
            keyboard_arrow_down
          </mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <a href="{{myProfile}}" target="_self" class="dropdown-item">
            <i class="ti-user"></i> {{"My Profile" | translate}}</a>
          <div class="dropdown-divider"></div>
          <a href="{{userSetting}}" target="_self" class="dropdown-item">
            <i class="ti-settings"></i> {{"Account Setting" | translate}}</a>
          <div class="dropdown-divider"></div>
          <a href="{{this._fhs._logout()}}" (click)="clearLocalStorage()" class="dropdown-item" target="_self">
            <i class="fa fa-power-off"></i> {{"Logout" | translate}}</a>
        </mat-menu>
      </div>
    </div>
  </li>

  <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
    <div class="custom_lang">
      <button mat-icon-button type="menu">
        <i class="flag-icon flag-icon-{{selectedLanguage.icon}}" [matMenuTriggerFor]="langMenu"></i>
      </button>
    </div>
    <mat-menu #langMenu="matMenu" class="lang_filter">
      <span class="dropdown-item" href="#" *ngFor="let lang of languages" (click)="changeLanguage(lang)">
        <i class="flag-icon flag-icon-{{lang.icon}}"></i> &nbsp;
        <span>{{lang.language}}<span *ngIf="lang.type">({{lang.type}})</span>
        </span>
      </span>
    </mat-menu>
  </li>
</ul>
