i.fas.fa-user-circle {
  color: #fff;
}

.user-profile .profile-img{
  display: inline !important;
}
.user-profile .profile-text{
  display: inline-block !important;
}

.user-profile .profile-text > a {
  color: #fff !important;
  font-size: 12px !important;
}

.user-profile {
  padding-top: 16px !important;
}

.userprof .user-profile .dropdown-menu{
  left: -135px !important;
}

.custom_lang {
  margin-top: 15px;
}

@media (max-width: 767px){
  .userprof .user-profile .dropdown-menu{
    left: -115px !important;
    top: -31px !important;
    width: inherit !important;
  }
}
