h1{
  color: white;
  text-shadow: 2px 1px 2px black;
  font-size: 25px;
}
span{
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 33px;
  font-weight: 100;

}
@media (max-width:768px){
  h1 {
    font-size: 13px;
    text-shadow: 1px 1px 0px black;
  }
  span {
    font-size: 15px;
    text-shadow: 1px 1px 0px black;

  }
}

