<nav class="sidebar-nav">
    <ul id="sidebarnav">
        <!-- First level menu -->
        <li class="sidebar-item" [ngClass]="[L_1.ddclass]" [class.active]="showMenu === L_1.title"
            *ngFor="let L_1 of sideBarMenus"
            [routerLinkActive]="L_1.submenu.length != 0 ? '' : 'active'">
            <div class="nav-small-cap" *ngIf="L_1.extralink === true">{{L_1.title | translate}}
            </div>
            <a class="sidebar-link waves-effect waves-dark"
                [routerLink]="L_1.class === '' ? [L_1.path] : null"
                [ngClass]="[L_1.class]" *ngIf="!L_1.extralink;"
                (mouseover)="addExpandClass(L_1.title)"
                [routerLinkActive]="L_1.submenu.length != 0 ? '' : 'active'">
                <i [ngClass]="[L_1.icon]"></i>
                <!-- <i-feather [name]="L_1.icon" [ngClass]="[L_1.icon]"></i-feather> -->
                <span class="hide-menu">{{L_1.title | translate}}</span>
            </a>
            <!-- Second level menu -->
            <ul aria-expanded="false" class="collapse first-level" *ngIf="L_1.submenu.length > 0"
                [ngClass]="{'in' : showMenu === L_1.title }">
                <li class="sidebar-item" *ngFor="let L_2 of L_1.submenu"
                    [class.active]="showSubMenu === L_2.title"
                    [routerLinkActive]="L_2.submenu.length > 0 ? '' : 'active'">
                    <a class="sidebar-link"
                        [routerLink]="L_2.submenu.length > 0 ? null : [L_2.path]"
                        [routerLinkActive]="L_2.submenu.length != 0 ? '' : 'router-link-active'"
                        [ngClass]="[L_2.class]" *ngIf="!L_2.extralink;"
                        (mouseover)="addActiveClass(L_2.title)">
                        <i [ngClass]="[L_2.icon]"></i>
                        <span class="hide-menu">{{L_2.title | translate}}</span>
                    </a>
                    <!-- Third level menu -->
                    <ul aria-expanded="false" class="collapse second-level" *ngIf="L_2.submenu.length > 0"
                        [ngClass]="{'in' : showSubMenu === L_2.title }">
                        <li class="sidebar-item" *ngFor="let L_3 of L_2.submenu"
                            [ngClass]="[L_3.class]">
                            <a class="sidebar-link"
                                [routerLinkActive]="L_3.submenu.length != 0 ? '' : ''"
                                [routerLink]="L_3.submenu.length > 0 ? null : [L_3.path]"
                                *ngIf="!L_3.extralink;">
                                <i [ngClass]="[L_3.icon]"></i>
                                <span class="hide-menu">{{L_3.title | translate}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>
