.flex--start ::ng-deep {
  .mat-grid-tile-content{
    justify-content: flex-start ;
  }
}
.flex--end ::ng-deep {
  .mat-grid-tile-content{
    justify-content: flex-end;
  }
}
.parent-active{
  background-color:  rgb(185, 185, 185);
}
.child-active{
  background-color: rgb(204, 203, 203);
}
.form-action-buttons{
  margin-right: 5px ;
}