<mat-drawer-container [hasBackdrop]="sideNav.Right.opened" class="sidenav-container mat-typography">
  <!-- [@openClose]="sideNav.Left.opened ? 'open' : 'closed'" -->

  <mat-drawer class="mat-drawer-left" 
    [(opened)]="sideNav.Left.opened" 
    [disableClose]="sideNav.Left.disableClose"
    [position]="sideNav?.Left?.position" 
    [mode]="sideNav?.Left?.mode">
    <mat-nav-list>
      <aam-side-bar-mat-list-item *ngFor="let item of _ss.sideBarMenus" [item]="item"></aam-side-bar-mat-list-item>
      <mat-list-item class="mat-list-item-last">
        <mat-icon mat-list-icon>apps</mat-icon>
        <span>
          <h4 mat-line class="pt-2">More Infomation</h4>
        </span>
        <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <ng-content></ng-content>
    <!-- <aam-footers></aam-footers> -->
  </mat-drawer-content>
  <mat-drawer class="mat-drawer-right" [mode]="sideNav?.Right?.mode" [position]="sideNav?.Right?.position"
    [(opened)]="sideNav.Right.opened">
    <aam-right-side-nav></aam-right-side-nav>
  </mat-drawer>
</mat-drawer-container>