@import "/src/styles/theme";

.mat-drawer-container {
  background-color: rgb(183, 183, 183);
}
// .sidenav-container{
//   max-height: 92vh;
// }

// .mat-drawer-content{
//   height: 95vw;
// }
// .mat-drawer-inner-container{

// }
.mat-drawer-left{
  max-width: 240px;
  height: 92vh;
  min-height: 92vh;
  // max-height: 100%;
}
.mat-drawer-right{
  width: 300px;
}
.mat-list-item-last{
  position: absolute; 
  bottom: 1px;
  background-color: chocolate;
}
.mat-list, .mat-typography h4 {
  margin: 0px;
  padding: 0px;
  padding-left: 10px
}
.mat-list-base .mat-list-item .mat-list-item-content{
  background-color: thistle;
}



