.sidenav-container {
  height: 92%;
  // height: 88vh;
}
// .sidenav {
//   width: 250px;
// }
.sidenav .mat-toolbar {
  background: inherit;
}
.mat-list, .mat-typography h4 {
  margin: 0px;
  padding: 0px;
  padding-left: 10px
}
.mat-list-base .mat-list-item .mat-list-item-content{
  background-color: thistle;
}