@import "/src/styles/theme";

.mat-drawer-container {
  height: 91%;
  background-color: rgb(183, 183, 183);
}
.mat-drawer-content{
  height: 95%;
}
.mat-drawer-left{
  width: 220px;
}
.mat-drawer-right{
  width: 300px;
}
.mat-list-item-last{
  position: absolute; 
  bottom: 1px;
  background-color: chocolate;
}
.mat-list, .mat-typography h4 {
  margin: 0px;
  padding: 0px;
  padding-left: 10px
}
.mat-list-base .mat-list-item .mat-list-item-content{
  background-color: thistle;
}



