<mat-grid-list cols="3"  rowHeight="65px">
  <mat-grid-tile colspan="2" class="flex--start">
    <section>
      <button type="button" mat-button color="primary">Primary</button> /
      <button type="button" mat-button color="accent">Accent</button> /
      <button type="button" mat-button color="warn">Warn</button> / 
      <button type="button" mat-button>Basic</button> /
      <button type="button" mat-button disabled>Disabled</button>
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
    </section>
  </mat-grid-tile>
  <mat-grid-tile class="flex--end">
    <section>
      <button mat-mini-fab color="warn">
        <mat-icon>filter_list</mat-icon>
      </button>
    </section>
  </mat-grid-tile>
</mat-grid-list>
