<mat-grid-list cols="5"  rowHeight="50px"  >
  <mat-grid-tile colspan="4" class="flex--start">
    <section>
      <button type="button" mat-button color="primary">Primary</button> /
      <button type="button" mat-button color="accent">Accent</button> /
      <button type="button" mat-button color="warn">Warn</button> / 
      <button type="button" mat-button>Basic</button> /
      <button type="button" mat-button disabled>Disabled</button>
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
    </section>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" class="flex--end" >
      <button class="mr-2" mat-mini-fab color="warn">
        <mat-icon>filter_list</mat-icon>
      </button>
  </mat-grid-tile>
</mat-grid-list>
