<mat-list-item (click)="navParentHandler(item?.link)" 
[ngClass]="{'parent-active': this._ss.sideBarParentActive == item?.id}">
  <mat-icon mat-list-icon>{{item?.icon}}</mat-icon>
  <span mat-line>{{item?.title}}</span>
  <span *ngIf="this._ss.sideBarParentActive == item?.id && item?.submenu?.length">
    <mat-icon mat-list-icon>keyboard_arrow_down</mat-icon>
  </span>
  <span *ngIf="this._ss.sideBarParentActive != item?.id && item?.submenu?.length">
    <mat-icon mat-list-icon >keyboard_arrow_right</mat-icon>
  </span>
  
  <!-- RECURSIVE EXAMPLE HERE
    <ng-container *ngFor="let it of item.submenu" >
      <aam-side-bar-mat-list-item [item]="it"></aam-side-bar-mat-list-item>    
    </ng-container>
  -->
</mat-list-item>
<div [@slideOutLeftOnLeave] [@slideInLeftOnEnter]  
  *ngIf="_ss.sideBarParentActive == item?.id">
  <mat-list-item  *ngFor="let it of this.item?.submenu"
    [ngClass]="{'child-active': _ss.sideBarChildActive == it?.link}" 
    (click)="navChildHandler(it.link)">
    <mat-icon mat-list-icon>blur_circular</mat-icon>
    <span mat-line>{{it.title}}</span>
  </mat-list-item>
</div>

