<mat-list-item *ngFor="let item of _ss?.sideBarMenusFlat" (click)="navHandler(item.link)">
  <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
  <span mat-line>{{item.title}}</span>
  <span *ngIf="item?.submenu?.length && item.link !== _ss.sideBarActive">
    <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
  </span>
  <span *ngIf="item?.submenu?.length && item.link === _ss.sideBarActive">
    <mat-icon mat-list-icon>keyboard_arrow_down</mat-icon>
  </span>
  <!-- This wont Work because it will bubble up the childs -->
  <!-- <ng-container *ngFor="let it of item.submenu" >
    <aam-side-bar-mat-list-item [item]="it"></aam-side-bar-mat-list-item>    
  </ng-container> -->
</mat-list-item>