.grid-container {
  margin: 0px 2px 0px 2px;
}

.dashboard-card {
  position: absolute;
  top: 9px;
  left: 9px;
  right: 9px;
  bottom: 9px;
}
.dashboard-card-content {
  text-align: center;
}

.mat-card-footer{
  left: 0px;
  right: 0px;
  bottom: 0px;
}
