<mat-card>
  <mat-grid-list cols="5" rowHeight="55px">
    <mat-grid-tile colspan="3" class="flex--start">
      <h1 class="p-0">Actions Buttons</h1>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" class="flex--end">
      <button mat-raised-button type="button" color="primary">
        <mat-icon>local_hospital</mat-icon> Add
      </button>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="5" rowHeight="450px">
    <router-outlet></router-outlet>
  </mat-grid-list>
  <aam-form-action></aam-form-action>
</mat-card>