.grid-container {
  margin: 0px 2px 0px 2px;
}
.more-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.dashboard-card {
  position: absolute;
  top: 9px;
  left: 9px;
  right: 9px;
  bottom: 9px;
}
.form-header{ 
  background-color: rgba(0, 191, 191, 0.582);
  // box-shadow: 0px 15px 10px -15px #111;  
}
.form-body{ 
  background-color: rgba(242, 255, 0, 0.316);
  // padding: 16px;
}
.form-footer{ 
  // box-shadow: 10px 15px 0px -15px #111;  
  background-color: rgba(0, 255, 191, 0.316);
}
